:root {
    --button: #4CAF50;
    --button-dark: #2c652e;
    --text-dark: #333333;
    --text: #555555; 
    --white: #f9f9f9;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    height: max-content;

    display: flex;
    justify-content: flex-start;
}

.BG {
    position: fixed;
    width: 100%;
    min-height: 100%;
    background-image: url(leone-venter-VieM9BdZKFo-unsplash.jpg);
    background-size: cover;
    filter: brightness(90%);
    opacity: 0.7;
    z-index: -1;
}

.container {
    height: 100%;
    width: 100%;
    margin: 50px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 90px;
}

.section {
    height: fit-content;
    width: 100%;
}

h1, h2 {
    color: var(--text-dark);
}

p {
    color: var(--text);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: var(--button-dark);
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button a {
    color: var(--white);
    text-decoration: none;
}

button:hover {
    background-color: var(--button);
}

.A {
    color:  var(--button);
    font-size: 40px;
}

.D {
    color: red;
    font-size: 40px;
}

.preq {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    gap: 5px;
    margin-bottom: 10px;
}

.inp-box {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.inp-box input {
    font-size: 15px;
}

.preq input {
    width: 50px;
}

table, th, td {
    border: 1px solid;
    height: 20px;
}

th {
    background-color: var(--button-dark);
    border-color: black;
    color: var(--white);
    font-weight: bold;
    width: 70px;
}

td {
    width: 70px;
    text-align: center;
}

.avg-table td {
    width: 143px;
}

.input-td {
    width:65px;
    border:none;
    text-align:center;
}

.edit, input {
    background-color: green;
}

table {
    border-collapse: collapse;
    background-color: var(--button);
}

.gantt {
    display: flex;
    height: fit-content;
    width: auto;
    gap: 5px;
}

.gantt .slot {
    display: flex;
    width: inherit;
    flex-direction: column;
    justify-content: center;
}

.gantt .frame {
    background-color: crimson;
    border: solid;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.gantt p {
    font-size: 13px;
    text-align: center;
}